.btn {
  display: block;
  width: max-content;
  margin: auto;
  @include gradient-color;
  color: white;
  border-radius: 30px;
  @include shadow;
  padding: 15px 20px;
  font-weight: bold;
  transition: transform 500ms;
  opacity: 1;
  &:hover {
    opacity: 0.8;
    @include darker-shadow;
  }
}
