// Animation d'apparition des "cards" pour les menus
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// delais d'apparition des "cards" pour les menus
.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.3s;
}

.delay3 {
  animation-delay: 0.6s;
}

.delay4 {
  animation-delay: 0.9s;
}

// Animation pour le soulignage des intitulés "entrées, plats, desserts"
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

// Animation pour les circles du loader
@keyframes rebound {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

//  Animation de disparition du loader
@keyframes loader {
  0% {
    background-color: rgba(196, 195, 192, 1);
  }
  25% {
    background-color: rgba(196, 195, 192, 1);
  }
  50% {
    background-color: rgba(196, 195, 192, 1);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}

// Animation pour le remplissage du coeur "heart"
@keyframes fill {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//LOADER
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $shadow-color;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 1s;
  animation-fill-mode: both;
  &__circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 50px;
    display: inline-block;
    animation: boing 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    &--1 {
      background-color: $primary-color;
      animation-delay: 0.1s;
    }
    &--2 {
      background-color: $secondary-color;
      animation-delay: 0.2s;
    }
    &--3 {
      background-color: $tertiary-color;
      animation-delay: 0.4s;
    }
  }
}
